/*Font: Roboto*/
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}

* {
    box-sizing: content-box;
    font-family: 'Roboto';
}



/*Background*/


body {
    min-height: 100%;
    background: rgb(184, 186, 195) no-repeat;
    background-size: cover;
    background-position: center;
}


.header {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 0;
    background: rgb(35, 37, 76);
    top: 0;
    left: 0;
    justify-content: space-between;
}


/*Title*/


.title {
    font-size: 30px;
    padding: 5px;
    gap: 100px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(232, 236, 244);
}



/*Nabvar*/

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



.a {
    font-size: 15px;
    color: white;
}


.a:hover {
    color: rgb(151, 159, 161);
}





/*Audio*/



h5 {
    color: black;
    margin-top: 45px;
}


.audio {
    width: 25%;
}


audio::-webkit-media-controls-panel {
    background-color: rgb(184, 186, 195);
    color: rgb(184, 186, 195);
    border-radius: 15px;
    overflow: hidden;
}


audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
    background-color: rgb(184, 186, 195);
    border-radius: 8px;
}

.section-margin {
    margin-bottom: 50px;
}

/*Subtitles*/
.subtitle {
    color: rgb(225, 226, 229);
    text-transform: uppercase;
    text-transform: full-width;
    text-decoration: underline;
    text-align: center;
    font-size: 40px;
}




/*About section*/


#about {
    height: 100%;
    background: linear-gradient(-90deg, rgb(232, 236, 244) 25%, rgb(35, 37, 76));
}


#about h3 {
    font-size: 50px;
    font-weight: 500;
    color: black;
    text-align: center;
}

#about h4 {
    font-size: 30px;
    font-weight: 300;
    color: black;
    text-align: center;
}


#about a {
    color: black;
    font-size: 30px;
    font-weight: 300;
}

#about a:hover {
    color: rgb(143, 148, 149);
}



/*image*/

.image {
    width: 400px;
    height: 400px;
    background: rgb(232, 236, 244);
    border-radius: 50%;
}




/*Video*/

.video {
    width: 600px;
    height: 300px;
    background: rgb(232, 236, 244);
}






/*Work section*/


#work {
    height: 100%;
    background: linear-gradient(-90deg, rgb(232, 236, 244) 25%, rgb(35, 37, 76));
}

.work-padding {
    padding-left: 30px;
}



.business {
    font-size: 30px;
    font-weight: 300;
    color: black;
    text-align: left;
}


.li {
    margin-left: 15px;
    color: rgb(22, 31, 40)
}



#work a {
    color: black;
    font-size: 20px;
    font-weight: 300;
}

#work a:hover {
    color: rgb(151, 159, 161);
}


.form {
    max-width: 500px;
    border: 3px solid black;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 5px;
}

.form label {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
}

.form input,
textarea,
select {
    display: block;
    width: 100%;
    border: 2px solid;
    border-radius: 5px;
}

#submit {
    background: rgb(37, 8, 5);
    color: white;
    width: auto;
    text-transform: uppercase;
}

#submit:hover {
    background: rgb(35, 132, 197);
}


/*Resume section*/


#resume {
    height: 100vh;
    background: linear-gradient(-90deg, rgb(232, 236, 244) 25%, rgb(35, 37, 76));
}





.table {
    width: 100%;
    border: 2px solid;
}


.table th {
    padding: 15px;
    border: 1px solid;
    background-color: rgb(184, 186, 195);
    border-spacing: 2px;
}



/*Contact section*/


#contact {
    height: 100%;
    background: linear-gradient(-90deg, rgb(232, 236, 244) 25%, rgb(35, 37, 76));
}

.contact-link {
    color: black;
}

.contact-link:hover {
    color: rgb(151, 159, 161);
}